.product-description {
  font-size: 20px;
  line-height: 120%;
}

.preco {
  font-size: 32px;
  line-height: 120%;
}

.preco-desconto {
  color: #dc6e05;
}

@media (max-width: 1024px) {
  .product-description {
    margin: 1rem 0;
  }
  .preco {
    font-size: 1.5rem;
    line-height: 120%;
  }
}

@media (max-width: 640px) {
  .product-description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
  .preco {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
