.product-title {
  display: flex;
  align-items: center;
  line-height: 28px;
  font-size: 28px;
  font-weight: 500;
}

.page-body {
  color: #4e4e4e;
}

.button-add {
  display: flex;
  align-items: center;
  flex-grow: 0;
  width: 58%;
  border-radius: 4px;
  background-color: #f09035;
  color: white;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.33px;
  text-align: center;
  font-weight: 500;
}
